nav {
    background-color: #563d7c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none;
}

nav li a:hover{
    color: rgb(212, 212, 0);
    text-decoration: none;
}

.avatar-ctn {
    background-color: orange;
    text-align: center;
}

.avatar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10%;
    width: 65%;
}

.content-spotlight {
    background-color: lightgray;
    border-radius: 10px;
    color: #222;
    padding: 40px 20px;
}